*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#050816;

    color:white;

    font-family:Arial, Helvetica, sans-serif;
}

.container{

    display:flex;

    min-height:100vh;
}

/* Sidebar */

.sidebar{

    width:280px;

    background:#000814;

    padding:30px;

    border-right:1px solid #1b263b;

    display:flex;

    flex-direction:column;

    justify-content:space-between;
}

.logo h1{

    color:#ff9800;

    font-size:34px;
}

.logo p{

    color:#888;

    margin-top:8px;
}

nav ul{

    list-style:none;

    margin-top:50px;
}

nav li{

    padding:18px;

    margin-bottom:12px;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;
}

nav li:hover{

    background:#0b1120;
}

.active{

    background:#0b1120;
}

.stats{

    background:#08101f;

    padding:20px;

    border-radius:15px;
}

.stats h3{

    margin-bottom:20px;
}

.stat-box{

    background:#111827;

    padding:18px;

    border-radius:10px;

    margin-bottom:12px;

    text-align:center;
}

/* Main */

.main-content{

    flex:1;

    padding:40px;
}

.hero{

    background:#0B1120;

    border-radius:20px;

    padding:40px;

    display:flex;

    flex-direction:column;

    gap:30px;

    margin-bottom:40px;
}

.hero h1{

    font-size:42px;

    margin-bottom:10px;
}

.hero p{

    color:#b0b0b0;

    font-size:18px;
}

.search-area{

    display:flex;

    gap:15px;

    flex-wrap:wrap;
}

.search-area input{

    flex:2;

    padding:16px;

    border:none;

    border-radius:10px;

    background:#111827;

    color:white;

    font-size:16px;
}

.search-area select{

    padding:16px;

    border:none;

    border-radius:10px;

    background:#111827;

    color:white;
}

.search-area button{

    background:#ff9800;

    color:white;

    border:none;

    padding:16px 30px;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;
}

.search-area button:hover{

    background:#e68900;
}

.summary{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;
}

.summary-card{

    background:#0B1120;

    padding:25px;

    border-radius:20px;

    text-align:center;

    transition:.3s;
}

.summary-card:hover{

    transform:translateY(-5px);
}

.summary-card h2{

    margin:15px 0;

    font-size:32px;
}

.summary-card p{

    color:#9ca3af;
}

/* Movie Section */

.movie-section{

    margin-top:50px;
}

.movie-section h2{

    margin-bottom:25px;

    font-size:30px;
}

/* Grid */

.movie-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;
}

/* Card */

.movie-card{

    background:#0B1120;

    border-radius:20px;

    overflow:hidden;

    transition:.3s;

    cursor:pointer;
}

.movie-card:hover{

    transform:translateY(-8px);

    box-shadow:0 0 20px rgba(255,152,0,.25);
}

/* Poster */

.movie-card img{

    width:100%;

    height:320px;

    object-fit:cover;
}

/* Information */

.movie-info{

    padding:20px;
}

.movie-info h3{

    margin-bottom:10px;
}

.movie-info p{

    color:#9ca3af;

    margin-bottom:18px;
}

.movie-info button{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#ff9800;

    color:white;

    cursor:pointer;

    transition:.3s;
}

.movie-info button:hover{

    background:#e68900;
}